body {
    background-color: #061A26;
}

thead>tr {
    --bs-table-color: #bfa181;
}

tr {
    --bs-table-bg: #061A26;
    --bs-table-color: white;
    border-bottom-color: #BFA181;
}

tbody>tr:nth-child(odd) {
    --bs-table-bg: #178582;
}

img {
    width: 15%;
}

h1, h2, h3, h4 {
    color: #BFA181;
}

h6 {
    color: #178582;
}
.progress-bar {
    background-color: #BFA181;
    width: 37.5%;
}

.progress {
    background-color: #262E33;
    width: 30%;
}

