/*yellow#BFA181 turqouise#178582 bleu#053B86*/
body{
    background-color: #061A26;
}
.custom-card{
    background-color: #262E33;
    border: 2px solid #BFA181;
    padding: 1rem;
    margin-bottom: 1rem;
}
button{
    background-color: #262E33;
    color: #BFA181;
}
i{
    font-size: 18px;
}
.primary{
    /*color:#BFA181;*/
    color: white !important;
}
a.secondary:hover{
    color: #BFA181 !important;;
}

.secondary{
    color: #eff2f699;
    /*color: #75624e;*/
}

hr{
    color:#178582;
}
ul {
    list-style: none;
}
ul li::before {
    content: "•";
    color: #178582;
    font-weight: bold;
    display: inline-block;
    width: 15px;
}

#badges img:hover {
    transform: scale(1.2);
    transition: transform 0.6s ease;
}

#badges img{
    height: 60px;
    width: auto;
}

@media (max-width: 575.5px) {
    #badgesCard{
        margin-left: 0 !important;
    }
}
@media (max-width: 850px) {
    #main-container{
        padding-left: 88px;
        padding-right: 88px;
    }
}
@media(max-width: 991.5px){
    #right-card,#rankingContainer{
        padding-left: 0 !important;
    }
    #rankingContainer{
        padding-top: 1rem !important ;
    }
}


#upcoming-contests .card {
    background-color: #061A26;
    color: white;
    height: 100%;
    /*border-bottom: 1px solid  #BFA181;*/
}
#upcoming-contests .card:hover {
    transform: scale(1.05); /* Adjust the scaling factor as needed */
    transition: transform 0.6s ease;

}
.dropdown-item:hover{
    color: black !important;
}
.dropdown-item:active{
    background-color: #178582;
}
.dropdown-menu{
    padding: 0;
    position: absolute;
    inset: 0 0 auto auto;
    margin: 0;
    transform: translate3d(-11.5px, 37px, 0px);
}

