:root {
    --azrak: #061A26;
    --azrakFetah: #178582;
    --or: #BFA181;
    --gris: #262E33;
}

body {
    background-color: #061A26;
}

thead>tr {
    --bs-table-color: #bfa181;
}

tr {
    --bs-table-bg: #061A26;
    --bs-table-color: white;
    border-bottom-color: #BFA181;
}

tbody>tr:nth-child(odd) {
    --bs-table-bg: #178582;
}

img {
    width: 15%;
}

h1, h2, h3, h4 {
    color: #BFA181;
}

h6 {
    color: #178582;
}
.progress-bar {
    background-color: #BFA181;
}

.progress {
    background-color: #262E33;
    width: 30%;
}

td>a {
    text-decoration: none;
    color: white;
}

td>a:hover {
    color: var(--or);
}

.summary {
    color: white;
    font-size: large;
}