body {
    background: linear-gradient(-20deg, #061A26, #112f42);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.reset {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #061A26;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    opacity: 60%;
    padding: 3%;
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.title {
    color: #BFA181;
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px; 
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%;
}

.input-group {
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
}

.input-group label {
    
    display: block;
    margin-bottom: 3px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 7px;
    max-width: 100%;
}

.input-group input {
    
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #262e33;
    border-color: #BFA181;
    border-width: 3px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

button {
    background-image: linear-gradient(
        to right,
        #050827,
        #1868c4,
        #030000
    );
    box-shadow: 0 4px 15px 0 rgba(249, 248, 249, 0.75);
    width: 15%;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
}

button:hover {
    background-position: 100% 0;
}

#error-message{
    color: #fff;
    font-size: 88%;
    text-align: center;
    padding-bottom: 15px;
}